#div1{
text-align: center;
padding-top: 20px;
color: lawngreen;
font-weight: bolder;
font-size: larger;
}


#div2{
padding-top: 40px;
color: lawngreen;

text-align: center;
}

#background{
    background: url(../pic11741.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#div3{
    margin-top: 170px;
    color: lawngreen;
    text-align: center;


}





#div4{
    margin-left: 25%;
    padding-top:  200px;
    



}
#textimg{
    color:lawngreen ;




}


